<h5>Score: <%= answer.score %></h5>
<p><%= answer.content %></p>
<h5>posted by: <%= answer.user.username %>, <%= timeago(answer.created_at) %></h5>
<% if !@best_answer #&& question.user == current_user %>
  <%= erb :"partials/_best_answer_link", locals: {answer: answer, question: @question} %>
<% end %>
<br>
